.canvas-wrapper {
  display: flex;
  padding: 8px;
  width: 256px;
  height: 256px;
  background-color: var(--color-bg-dark);
  border-radius: 16px;
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
}
