footer {
  display: flex;
  justify-content: center;
  padding: var(--space-l);

  p {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
  }
}
