footer {
  display: flex;
  justify-content: center;
  padding: var(--space-l);

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text);
    text-align: center;
  }
}
