.frame-wrapper {
  display: flex;
  padding: 8px;
  background-color: var(--color-bg-dark);
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  width: var(--l);
  height: var(--l);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.frame {
  --m: calc(var(--l) / (2 * var(--w0)));
  --w: calc(var(--l) / (2 * var(--m)));
  --s: calc(var(--w) * sqrt(2));

  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-primary) 0px,
    var(--color-primary) var(--s),
    var(--color-primary-muted) var(--s),
    var(--color-primary-muted) calc(var(--s) * 2)
  );
  background-size: 200% 100%;
  animation: slideStripes 6s linear infinite;
  will-change: background-position;
  overflow: hidden;
}

@keyframes slideStripes {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
