.canvas-loading-wrapper {
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
  /* height: 100%; */
}
