h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.container {
  max-width: 800px;
  width: 100%;
}

.line {
  padding-bottom: 2px;
  background-image: repeating-linear-gradient(
    to right,
    var(--color-bg-dark),
    var(--color-bg-dark) 8px,
    transparent 8px,
    transparent 16px
  );
  background-position: bottom left;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  border: none;
}
