h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  @media (max-width: 768px) {
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: 0px 32px;
  max-width: 800px;
  width: 100%;
}

.line {
  width: 100%;
  padding-bottom: 2px;
  background-image: repeating-linear-gradient(
    to right,
    var(--color-bg-dark),
    var(--color-bg-dark) 8px,
    transparent 8px,
    transparent 16px
  );
  background-position: bottom left;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  border: none;
}

.content-title {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  max-width: 360px;
  width: 100%;

  h2 {
    font-family: var(--font-libre);
    font-weight: 700;
    font-size: 32px;
    color: var(--color-text);
  }

  p {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
  }

  @media (max-width: 768px) {
    h2,
    p {
      text-align: center;
    }
  }
}

.content-container {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.content-container.odd {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .content-container,
  .content-container.odd {
    flex-direction: column;
  }
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

.contacts-container,
.socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);

  p {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text);
  }

  path {
    stroke: var(--color-primary);
  }
}

.contacts-links,
.socials-links {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.title-container {
  display: flex;
  align-items: center;
  gap: var(--space-s);

  h1 {
    font-family: var(--font-libre);
    font-weight: 700;
    font-size: 40px;
    color: var(--color-text);
  }

  path {
    stroke: var(--color-primary);
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.blog-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.blog-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
  }

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.blog-title {
  display: flex;
  align-items: center;
  gap: var(--space-s);

  h1 {
    font-family: var(--font-libre);
    font-weight: 700;
    font-size: 40px;
    color: var(--color-text);
  }

  span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 0px 4px;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: var(--space-xs);
  }
}

.blog-stacks-container {
  display: flex;
  gap: var(--space-xs);

  span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-bg-dark);
    padding: 0px 4px;
    border-radius: 4px;
  }
}

.blog-links-container {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text);
  }

  img {
    width: 100%;
    border-radius: 16px;
  }

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  .not-found-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    h1 {
      font-family: var(--font-libre);
      font-weight: 700;
      font-size: 40px;
      color: var(--color-text);
    }

    p {
      font-family: var(--font-inter);
      font-weight: 400;
      font-size: 16px;
      color: var(--color-text);
    }
  }

  @media (max-width: 768px) {
    align-items: center;

    .not-found-text-container {
      align-items: center;
      text-align: center;
    }
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}
