h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

main {
  display: grid;
  place-items: center;
}

main.snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8rem var(--space-xl);
  max-width: 768px;
  width: 100%;
  min-height: 200vh;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 8rem var(--space-l);
  }

  @media (max-width: 425px) {
    padding: 8rem var(--space-m);
  }
}

.container.snap {
  transform: translateY(-64px);
  margin-bottom: -64px;
  scroll-snap-align: start;
  z-index: 2;
}
