h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

main {
  display: grid;
  place-items: center;
}

main.snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  scroll-timeline: --container-timeline y;
  scroll-timeline: --container-timeline vertical;
}

.snap-container {
  position: relative;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  background-color: var(--color-bg);

  animation: containerAnimation 1ms linear;
  animation-timeline: --container-timeline;
}

.container {
  max-width: 800px;
  width: 100%;
  min-height: 200vh;
}

@keyframes containerAnimation {
  from {
    max-width: 800px;
  }

  to {
    max-width: 100%;
  }
}
