h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  @media (max-width: 768px) {
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: 0px 32px;
  max-width: 800px;
  width: 100%;
}

.line {
  width: 100%;
  padding-bottom: 2px;
  background-image: repeating-linear-gradient(
    to right,
    var(--color-bg-dark),
    var(--color-bg-dark) 8px,
    transparent 8px,
    transparent 16px
  );
  background-position: bottom left;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  border: none;
}

.content-title {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  max-width: 360px;
  width: 100%;

  h2 {
    font-family: var(--font-libre);
    font-weight: 700;
    font-size: 32px;
    color: var(--color-text);
  }

  p {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
  }

  @media (max-width: 768px) {
    h2,
    p {
      text-align: center;
    }
  }
}

.content-container {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.content-container.odd {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .content-container,
  .content-container.odd {
    flex-direction: column;
  }
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
