header {
  padding: var(--space-l);

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);

    a {
      font-weight: 400;
      font-size: 18px;
      color: var(--color-primary);
    }

    .nav-logo {
      font-weight: 700;
      font-size: 24px;
      color: var(--color-primary);
    }
  }
}
