.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-l);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  h1,
  p {
    text-align: center;
    color: var(--color-text);
  }

  h1 {
    font-family: var(--font-libre);
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
  }
}
