.skills-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);

  p {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text);
  }
}
